/*
Add resize handle to div and flip it around to get to be able to move to the left
when above 782px
*/
.edit-post-layout .interface-interface-skeleton__sidebar {
  border-right: 1px solid #e0e0e0;
  display: flex !important;
  resize: horizontal;
  will-change: transform; /*fix blurry text*/
}

.edit-post-layout .interface-complementary-area.edit-post-sidebar {
  border-right: 1px solid #e0e0e0;
  overflow: auto; /*fixes column scrolling issue*/
  width: 100%;
  will-change: transform; /*fix blurry text*/
}

.edit-post-layout .interface-complementary-area.edit-post-sidebar:before {
  content: ' ';
  background: rgb(224 224 224);
  height: 10px;
  width: 10px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
}

@media (min-width: 782px) {
  .edit-post-layout .interface-interface-skeleton__sidebar {
    border-right: 1px solid #e0e0e0;
    max-width: 50%;
    transform: rotate(180deg);
  }

  .edit-post-layout .interface-complementary-area.edit-post-sidebar {
    border-left: 1px solid #e0e0e0;
    transform: rotate(180deg);
  }

  .edit-post-layout .interface-complementary-area.edit-post-sidebar:before {
    bottom: unset;
    left: 0;
    right: unset;
    top: 0;
  }
}

.edit-post-layout:not(.is-sidebar-opened) .interface-interface-skeleton__sidebar {
  width: unset !important;
}